body {
  font-family: 'Gilroy', Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  line-height: 1;
}

/* header------------------------------------------------------ */
a {
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1237px;
  margin: 0 auto;
}

.header {
  height: 141px;
  background-color: #F9F1E7;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__menu {
  margin-top: 52px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.menu__item:first-child {
  font-weight: 700;
  font-size: 16px;
}

.menu__item {
  font-weight: 500;
  font-size: 16px;
}

.menu__item:hover {
  font-weight: 700;
  font-size: 17px;
}

.menu__link {
  color: black;
}

.menu__link:hover {
  text-decoration: none;
  color: black;
}

.search {
  margin-left: 43px;
  margin-top: 40px;
}

::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  padding-left: 15px;
}

:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  padding-left: 15px;
}

::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  padding-left: 15px;
}

::placeholder {
  font-size: 14px;
  font-weight: 400;
  padding-left: 15px;
}

.form-search {
  background-color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* width: 473px;
    height: 45px; */
}

.form-search input {
  width: 473px;
  height: 45px;
  all: unset;
}

input[type="search"] {
  width: 473px;
  height: 45px;
  padding-left: 15px;
}

input[type="submit"] {
  padding-left: 15px;
}

.icons__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 0 76px;
  cursor: pointer;
}

.cart {
  margin-top: 13px;
  fill: none;
}

.cart svg:hover {
  fill: #6767aa;
}

.heart {
  margin-top: 13px;
  fill: none;
}

.heart svg:hover {
  fill: red;
}

.icons__item:not(:last-child) {
  margin-right: 35px;
}

/* main-------------------------------------------------------------- */
.main {
  height: 3574px;
}

.records__row {
  margin-top: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 261px;
}

.records__row__item {
  -webkit-box-shadow: 4px 5px 18px -12px rgba(34, 60, 80, 0.3);
          box-shadow: 4px 5px 18px -12px rgba(34, 60, 80, 0.3);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 247px;
  height: 85px;
  background-color: #fff;
}

.records__row__item:not(:last-child) {
  margin-right: 80px;
}

.records__img {
  margin-top: 10px;
}

.records__text {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #898989;
  margin-bottom: 20px;
  display: block;
  white-space: nowrap;
  margin-left: 20px;
}

.records__text span {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #3A3A3A;
}

.product__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__row {
  max-height: 2100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__row__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 12.5%;
          flex: 0 1 12.5%;
  width: 285px;
  height: 446px;
  background-color: #F4F5F7;
  margin-right: 24px;
  margin-top: 62px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.product__row__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product__row__item img {
  width: 285px;
  height: 301px;
}

.button__cart {
  text-align: center;
  text-decoration: none;
  top: 187px;
  left: 42px;
  position: absolute;
  display: none;
}

.button__cart > button {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  width: 202px;
  height: 48px;
  background-color: #fff;
  color: #E89F71;
  border: none;
  font-weight: 600;
}

.product__container {
  max-height: 3000px;
  overflow: hidden;
}

.product__item__title {
  padding-left: 16px;
  padding-top: 16px;
}

.product__item__text {
  color: #898989;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
}

.new__item__prise {
  padding-left: 16px;
  font-weight: 600;
  font-size: 20px;
}

.old__item__prise {
  text-decoration: line-through;
  color: #B0B0B0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 16px;
  display: inline-block;
}

.show__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}

.show__more > button {
  color: #E89F71;
  border: 1px solid #E89F71;
  width: 245px;
  height: 48px;
  background-color: #fff;
}

.some__container {
  height: 700px;
  background-color: #3A3A3A;
}

.show:hover {
  cursor: pointer;
}

.slider__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 88px;
}

.slider__row__item:not(:last-child) {
  margin-right: 32px;
}

.slider__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.8px;
  padding-left: 16px;
}

.slider__date {
  padding-left: 16px;
  font-size: 14px;
  font-weight: 400;
  padding-top: 8px;
  color: #898989;
}

.indecator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 43px;
}

.slider__row {
  height: 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  position: relative;
}

.slider__row__item {
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  width: 391px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  height: 370px;
  margin-top: 32px;
  position: relative;
}

.slider__row__item img {
  width: 391px;
  height: 251px;
}

.slider__row__item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.indecator img {
  padding-left: 16px;
}

.slick-arrow {
  z-index: 10;
  width: 50px;
  height: 50px;
}

.slick-prev {
  position: absolute;
  left: -25px;
  color: #00569C;
}

.slick-next {
  position: absolute;
  right: 0;
  color: #00569C;
}

@media (max-width: 1220px) {
  input[type="search"] {
    width: 200px;
    height: 45px;
    padding-left: 0px;
  }
}

@media (max-width: 950px) {
  .icons__header {
    margin-left: 20px;
  }
  .menu__list {
    gap: 14px;
  }
}

@media (max-width: 800px) {
  .search {
    display: none;
  }
}

@media (max-width: 550px) {
  .icons__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .cart {
    margin-left: 0.4em;
  }
  .heart {
    margin-left: 0.5em;
  }
  .header {
    height: 180px;
  }
}

@media (max-width: 1220px) {
  .records__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .records__row__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-left: 250px;
    margin-bottom: 25px;
  }
}

@media (max-width: 800px) {
  .records__row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .records__row__item {
    min-width: 380px;
    margin-left: 120px;
    margin-bottom: 25px;
  }
}

@media (max-width: 550px) {
  .records__row__item {
    margin-left: 80px;
    min-width: 250px;
  }
}

@media (max-width: 1220px) {
  .product__container {
    margin-top: 200px;
  }
  .product__row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 618px) {
  .product__row__item {
    width: 200px;
    height: 350px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    min-width: 200px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .product__row__item img {
    width: 200px;
    height: 200px;
  }
  .button__cart > button {
    width: 100px;
    height: 48px;
  }
}

@media (max-width: 450px) {
  .product__row {
    max-height: auto;
  }
  .product__row__item {
    margin-top: 10px;
  }
}

@media (max-width: 1230px) {
  .slider__row__item:first-child {
    display: none;
  }
}
