@import 'media.scss';

body{
    font-family: 'Gilroy', Arial, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden; 
    line-height: 1;
}
/* header------------------------------------------------------ */
a{
    text-decoration:none;
    
}

.wrapper{
    min-height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    
}

.main{
    flex: 1 1 auto;
}
[class*="__container"]{
    max-width: 1236px;
    margin: 0 auto;
    
}

.header {
    height: 141px;
    background-color: #F9F1E7;
}
.header__container {
    display: flex;
    flex-direction: row;
}
.header__menu {
    margin-top: 52px;
}
.menu {
}
.menu__list {
    display: flex;
    gap:40px;
    list-style-type:none;
}
/* .menu__list:first-child{
    gap:0;
} */
.menu__item:first-child {
    font-weight: 700;
    font-size: 16px;
}
.menu__item {
    font-weight: 500;
    font-size: 16px;
}
.menu__item:hover{
    font-weight: 700;
    font-size: 17px;
}

.menu__link {
    color: black;
}
.menu__link:hover{
    text-decoration: none;
    color: black;
}
.search{
    margin-left: 43px;
    margin-top: 40px;
    

}
::placeholder { 
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;
   }

.form-search {
    background-color:#fff;
    display: inline-flex;
    /* width: 473px;
    height: 45px; */
  }
.form-search input {
    width: 473px;
    height: 45px;
    all: unset;
}
input[type="search"]{
    width: 473px;
    height: 45px;
    padding-left: 15px;

}
input[type="submit"]{
    padding-left: 15px;

}



.icons__header {
    display: flex;
    margin: 40px 0 0 76px;
    cursor: pointer;

}
.cart {
    margin-top: 13px;
    fill: none;
    svg:hover{
        fill:rgb(103, 103, 170);
    }
}
.heart {
    margin-top: 13px;
    fill:none;
    svg:hover{
        fill:red;

    }
    
}

.icons__item:not(:last-child) {
    margin-right: 35px;

}


@media(max-width : 1220px){
    input[type="search"]{
        width: 200px;
        height: 45px;
        padding-left: 0px;
    
    }


}

@media(max-width : 950px){
    .icons__header{
        margin-left: 20px;
        
    }
    .menu__list{
        gap: 14px;
    }
}
@media(max-width : 800px){
    .search{
        display: none;
    }
}

@media(max-width : 550px) {
    .icons__header{
        flex-direction: column-reverse;

    }
    

    .cart{
        margin-left: 0.4em;

    }
    .heart{
        margin-left: 0.5em;
    }

    .header {
        height: 180px;
    }
    
    
}



// 767,992,1200

/* main-------------------------------------------------------------- */

.main {
    height: 3574px;
}    
.main__container{
    

}   

.records__row{
    // background-image: url('../img/records/record.jpg');
    margin-top: 100px;
    display: inline-flex;
    height: 261px;
    &__item{
        box-shadow: 4px 5px 18px -12px rgba(34, 60, 80, 0.3);
        flex: 0 1 25%;
        display: flex;
        width: 247px;
        height: 85px;
        background-color:#fff;


    }
    &__item:not(:last-child){
        margin-right: 80px;
    }
}


.records__img {
    margin-top: 10px;
    

}
.records__text {
    margin-top:10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color:#898989;
    margin-bottom: 20px;
    display: block;
    white-space:nowrap;
    margin-left: 20px;
    span{
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color:#3A3A3A
    }
    



}

@media(max-width : 1120px) {
    .records__row{
        flex-wrap:wrap;
        &__item{
            flex: 0 1 50%;
            margin-left: 250px;
            margin-bottom: 25px;

        }
        
    }    
}
  

